{% extends 'base.html' %}

{% block content %}
    <div class="alert alert-warning mt-5" role="alert">
        <div class="d-flex justify-content-center mt-5 mb-4">
               <h4 href="#" class="alert-link">{{ actual_level }}</h4>
        </div>
        
    </div>
    <div class="row py-5 mt-5">
        <div class="col-md-2">
          <ul class="list-group ml-4">
              {% for level in levels %}
                  {% if actual_level == level %}
                      <a href="/{{ level }}/" class="list-group-item list-group-item-action active">
                            {{ level }}
                      </a>

                  {% else %}
                      <a href="/{{ level }}/" class="list-group-item list-group-item-action">
                            {{ level }}
                      </a>
                  {% endif %}

              {% endfor %}


          </ul>
        </div>
        <div class="col-md-10">
          <p class="d-flex justify-content-around">
              <a class="btn btn-outline-success" data-toggle="collapse" title="Estos documentos entregan información acerca de reglas de gobierno y demases" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                  Documentos de pauta
              </a>
              <button class="btn btn-outline-info mr-4" type="button" data-toggle="collapse" title="Estos documentos son de aprendizaje de distinta índole" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                  Documentos educativos
              </button>
          </p>
          <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="collapseExample1">
                  <div class="card card-body">
                      {% if not paute_docs %}
                           <p class="font-italic">No se encuentran archivos temporalmente.</p>
                      {% endif %}

                      {% for doc in paute_docs %}
                          <a href="#"> {{ doc }} </a>
                      {% endfor %}

                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="collapseExample2">
                  <div class="card card-body">
                      {% if not educative_docs %}
                          <p class="font-italic">No se encuentran archivos temporalmente.</p>
                      {% endif  %}

                      {% for doc in educative_docs %}
                          <a href="#"> {{ doc }} </a>
                      {% endfor %}

                  </div>
                </div>
              </div>
         </div>
        </div>

    </div>

{% endblock %}
