<style>
  .footer {
      position:relative;
      left:0px;
      bottom:0px;
      height:30px;
      width:100%;
      padding-top: 4rem;
      padding-bottom: 10rem;
      background-color: #210029;
      color: #fff;
  }
  .maincolor{
    background-color: #210029;
  }
</style>
<footer class="footer text-center">
  <div class="container">
    <div class="row">

      <!-- Footer Social Icons -->
          <div class="col-lg-6 mb-5 mb-lg-0">
              <h4 class="mb-4">Encuentranos en redes sociales</h4>
              <a class="btn btn-outline-light social mx-1" href="#">
                <i class="fab fa-fw fa-facebook-f"></i>
              </a>
              <a class="btn btn-outline-light btn-social mx-1" href="#">
                <i class="fab fa-fw fa-instagram"></i>
              </a>
              <a class="btn btn-outline-light btn-social mx-1" href="#">
                <i class="fab fa-fw fa-twitter"></i>
              </a>
          </div>

          <div class="col-lg-6 mb-lg-0">
              <h5 class="mb-4">Información</h5>
              <div>
                  <p class="text-muted">
                      <i class="fa fa-phone-alt" aria-hidden="true"></i>
                      (63) 2 200 084
                      <br>
                      <i class="fa fa-envelope"></i>
                      pmulleres@gmail.com
                      <br>
                      <i class="fas fa-map-marker-alt"></i>
                      Caspana 481, Collico, Valdivia

                  </p>
              </div>


          </div>
          

    </div>

  </div>
</footer>
