{% extends 'base_others.html' %}

{% block content %}
    <div class="container pt-5 pb-5 mt-5 mb-5">
          <div class="container">

              <div class="list-group list-group-flush">
                    {% for level, count in name_count_docs %}
                          <a href="/{{ level }}/" class="list-group-item d-flex justify-content-between align-items-center">
                                {{ level }}
                                <span class="badge badge-danger badge-pill"> {{ count }} </span>
                          </a>

                    {% endfor %}
              </div>
          </div>
      </div>
{% endblock %}
